<div class="container">
  <div class="card text-center mx-5 my-5">
    <div class="card-header">TIEMPO DEDICADO A PROYECTO</div>
    <div class="card-body">
      <div class="input-group my-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecciona el proyecto</option>
          <option value="1">proyecto1</option>
          <option value="2">proyecto2</option>
          <option value="3">proyecto3</option>
        </select>
      </div>

      <button type="submit" class="btn btn-outline-primary mb-3">
        Visualizar
      </button>

      <table class="text-center">
        <tr>
          <th>Recurso</th>
          <th>Tiempo dedicado (h)</th>
        </tr>
        <tr>
          <td>Giovanni es Gay</td>
          <td>Fran mama culo</td>
        </tr>
      </table>
    </div>
  </div>
</div>
