<div class="container">
  <div class="card text-center mx-5 my-5">
    <div class="card-header">NOTIFICACIÓN</div>
    <div class="card-body">
      <div class="input-group my-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecciona el recurso</option>
          <option value="1">recurso1</option>
          <option value="2">recurso2</option>
          <option value="3">recurso3</option>
        </select>

        <select class="form-select" aria-label="Default select example">
          <option selected>Selecciona el proyecto</option>
          <option value="1">proyecto1</option>
          <option value="2">proyecto2</option>
          <option value="3">proyecto3</option>
        </select>
      </div>

      <div class="input-group my-3">
        <span class="input-group-text" id="basic-addon1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-stopwatch"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"
            />
            <path
              d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"
            />
          </svg>
        </span>
        <input
          type="number"
          class="form-control"
          placeholder="Tiempo dedicado"
          aria-label="Tiempo"
          aria-describedby="basic-addon1"
        />

        <input
          type="date"
          class="form-control"
          placeholder="fecha"
          aria-label="fecha"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group my-3">
        <span class="input-group-text" id="basic-addon1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            class="icon"
            viewBox="0 0 120 120"
          >
            <g id="Icons">
              <path
                d="M112,108v3h-10h-3v5h-3v-5h-9H76h-1v5h-3v-5H61H51v5h-3v-5H35h-8v5h-3v-5H14h-3v-3V96H7v-3h4V72H7v-3h4V48
             H7v-3h4V24H7v-3h4V9h3v99h21V89h15v19h11V74h15v34h11V52h15v56H112z M102,11H83l8.5162354,8.5162354L59,51.1598511L45,43
             L19.2921143,70.9403687l2.6448975,2.6448975l23.8778687-25.374939l13.5385132,7.8137207l34.7766113-33.894043L102,30V11z"
              ></path>
            </g>
          </svg>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="% Avance"
          aria-label="avance"
          aria-describedby="basic-addon1"
        />
      </div>

      <button type="submit" class="btn btn-outline-primary">Notificar</button>
    </div>
  </div>
</div>
